* {
    font-family: sans-serif, Arial, Helvetica;
}

.order-book-chart {
    text-align: right;
    font-size: 0.75rem;
    height: 40vh;
    color: whitesmoke;
    --gradient-direction: to right;

    header {
        display: flex;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        span {
            flex-grow: 1;
            text-transform: uppercase;
            padding: 0.5rem 1rem;
            max-width: 30%;
        }
    }
    article {
        display: flex;
        flex-direction: column;
        div {
            display: flex;
            span {
                flex-grow: 1;
                font-family: "Courier New", Courier, monospace;
                max-width: 30%;
            }
        }
    }
}
@media (min-width: 730px) {
    .ask {
        .order-book-chart {
            --gradient-direction: to left;
            article {
                flex-direction: column-reverse;
            }
        }
    }
}
