* {
    font-family: sans-serif, Arial, Helvetica;
}
#home {
    color: whitesmoke;
    p {
        text-align: center;
    }
}
.bid {
    --gradient-color: rgba(62, 121, 68, 1);
}
.ask {
    --gradient-color: rgba(209, 31, 61, 1);
}
