.order-book-chart {
    text-align: right;
    font-size: 0.75rem;
    height: 40vh;
    color: whitesmoke;
    --gradient-direction: to right;

    header {
        display: flex;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        span {
            flex-grow: 1;
            text-transform: uppercase;
            padding: 0.5rem 1rem;
            max-width: 20%;
        }
    }
    article {
        display: flex;
        flex-direction: column;
        div {
            display: flex;
            span {
                flex-grow: 1;
                font-family: monospace;
                max-width: 20%;
            }
        }
    }
}
@media (min-width: 770px) {
    /**
    * Asks are sorted descending on mobile
    * so we need to reverse the order and flip
    * the chart for desktop
    */
    .order-book-chart {
        flex-direction: column-reverse;
    }
    .ask {
        .order-book-chart {
            --gradient-direction: to left;
            article {
                flex-direction: column-reverse;
                div {
                    flex-direction: row-reverse;
                }
            }
            header {
                flex-direction: row-reverse;
            }
        }
    }
}
